<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>

      <form action="/tekken" method="post" class="col s12">
           <div class="input-field col s6">
               <i class="material-icons prefix">games</i>
               <input id="d1" type="text"name="d1" />
                 <label for="d1">damage of the 1st move</label>
           </div>
           <div class="input-field col s6">
               <i class="material-icons prefix">games</i>
               <input id="d2" type="text"name="d2" />
                 <label for="d2">damage of the 2nd move</label>
           </div>
           <div class="input-field col s6">
               <i class="material-icons prefix">games</i>
               <input id="d3" type="text"name="d3" />
                 <label for="d3">damage of the 3rd move</label>
           </div>
           <div class="input-field col s6">
               <i class="material-icons prefix">games</i>
               <input id="d4" type="text"name="d4" />
                 <label for="d4">damage of the 4th move</label>
           </div>
           <div class="input-field col s6">
               <i class="material-icons prefix">games</i>
               <input id="d5" type="text"name="d5" />
                 <label for="d5">damage of the 5th move</label>
           </div>
           <div class="input-field col s6">
               <i class="material-icons prefix">games</i>
               <input id="d6" type="text"name="d6" />
                 <label for="d6">damage of the 6th move</label>
           </div>
           <div class="input-field col s6">
               <i class="material-icons prefix">games</i>
               <input id="d7" type="text"name="d7" />
                 <label for="d7">damage of the 7th move</label>
           </div>
           <div class="input-field col s6">
               <i class="material-icons prefix">games</i>
               <input id="d8" type="text"name="d8" />
                 <label for="d8">damage of the 8th move</label>
           </div>
           <div class="input-field col s6">
               <i class="material-icons prefix">games</i>
               <input id="d9" type="text"name="d9" />
                 <label for="d9">damage of the 9th move</label>
           </div>
           <div class="input-field col s6">
               <i class="material-icons prefix">games</i>
               <input id="d10" type="text"name="d10" />
                 <label for="d10">damage of the 10th move</label>
           </div>
           <div class="input-field col s6">
               <i class="material-icons prefix">games</i>
               <input id="d11" type="text"name="d11" />
                 <label for="d11">damage of the 11th move</label>
           </div>
           <div class="input-field col s6">
               <i class="material-icons prefix">games</i>
               <input id="d12" type="text"name="d12" />
                 <label for="d12">damage of the 12th move</label>
           </div>
           <div class="input-field col s6">
               <i class="material-icons prefix">games</i>
               <input id="d13" type="text"name="d13" />
                 <label for="d13">damage of the 13th move</label>
           </div>
           <div class="input-field col s6">
               <i class="material-icons prefix">games</i>
               <input id="d14" type="text"name="d14" />
                 <label for="d14">damage of the 14th move</label>
           </div>
           <div class="input-field col s1">
               <i class="material-icons prefix">games</i>
               <input id="d15" type="text"name="d15" />
                 <label for="d15">damage of the 15th move</label>
           </div>
           <br> </br>
        <div class="center">
            <button class="btn waves-effect waves-light" type="submit" name="login">Calculate
              <i class="material-icons right">polymer</i>
            </button>
        </div>

        <div class="card-panel transparent">
          <span class="blue-grey-text"> Â© 2014-2016 Zack, All rights reserved
          </span>
        </div>
      </form>
    </body>
</html>
